apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ollama-pvc
  namespace: iris
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 40Gi # Large enough for Qwen 14B model + local LanceDB data
